*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.wrap{
    /* width: 100%; */
    background-color: #f0f2f5;
    height: auto;
    display: grid;
    grid-template-columns: 0.5fr 0.7fr 0.5fr;
    grid-template-rows: 70px 1.5fr 2fr ;
    grid-template-areas: 
    "header header header"
    "table-feed tin person-contact"
    "loi-tat bang-tin person-contact"
    "footer footer footer";
}
/* .table-feed{
    display: grid;
    grid-template-columns: 100px 1fr;
    grid-template-rows: repeat(7, 1fr); ;
    grid-template-areas: 
    "a a"
    "b b"
    "c c"
    "d d"
    "e e";
} */
/* .table-feed-avatar{
    grid-area: a;
    
    
    
    
}
.table-feed-friend{
    grid-area: b;
    
    
   
}
.table-feed-kyniem{
    grid-area: c;
   
    
    
}
.table-feed-team{
    grid-area: d;
    
   
    
} */
/* .table-feed-xem-them{
    grid-area: e;
    
   
    
} */

/* Header */
.header {
    grid-area: header;
    
    background-color: #fff;
}
.a {
    position: fixed;
    height: 70px;
    background-color: white;
    z-index: 1;
}
.footer{
    grid-area: footer;
    /* border: 1px solid #000; */
}
.table-feed{
   grid-area: table-feed;
   /* border: 1px solid #000; */
   padding: 10px 27px;
}
.tin{
    grid-area: tin;
    /* border: 1px solid #000; */
}
.person-contact{
    grid-area: person-contact;
    /* border: 1px solid #000; */
}
.loi-tat{
    grid-area: loi-tat;
    /* border: 1px solid #000; */
}
.bang-tin{
    grid-area: bang-tin;
    /* border: 1px solid #000; */
    background-color: #fff;
    margin-top: 14px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;

}



.header{
    display: flex;
    width: 100%;
}
.header .left{
    width: 25%;
    height: 100%;
    /* border: 1px solid #000; */
    display: flex;
    gap: 10px;
}
.header .mid{
    width: 45%;
    height: 100%;
    /* border: 1px solid #000; */
    display: flex;
    
}
.header .right{
    width: 30%;
    height: 100%;
    /* border: 1px solid #000; */
}
.left .logo{
   width: 25%;
   height: 100%;
   /* border: 1px solid #000; */
   font-size: 50px;
   color: blue;
   align-items: center;
   display: flex;
   justify-content: flex-end;
   cursor: pointer;

   
   
}
.left .search{
    width: 75%;
    height: 100%;
    /* border: 1px solid #000; */
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.left .search input{
    width: 80%;
    height: 40px;
    border-radius: 14px;
    padding-left: 20px;
    border: none;
    background-color: #e3e7eb;
    font-size: 16px;
}
.header .mid .item{
    width: 25%;
    height: 100%;
    /* border: 1px solid #000; */
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #636060;
    cursor: pointer;
}
.header .mid .item:hover{
    background-color: #efefef;
    border-radius: 15px;
}
.header .mid .item:first-child{
    color: blue;
    border-bottom: 3px solid blue;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;

    background:none;
    border-radius: 0;
}

.header .right {
    width: 30%;
    height: 100%;
    /* border: 1px solid #ccc; */
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 20px;
    font-size: 25px;
    gap: 10px;
  }
  .right .item-right{
      width: 50px;
      height: 50px;
      /* border: 1px solid #ccc; */
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      background-color: #e8eaed;
      cursor: pointer;
      
  }
  .right .item-right:hover{
    opacity: 0.7;
  }
  .item-right img{
      width: 100%;
      height: 100%;
      border-radius: 50%;
  }
  .image{
      position: relative;
  }
  .icon{
      position: absolute;
      background-color: #ccc;
      border-radius: 50%;
      right: 0;
      top: 30;
      display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
  }

  /* AVATAR LEFT */

/* .table-feed-friend,
.table-feed-kyniem,
.table-feed-team,
.table-feed-xem-them{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: 10px;
    color: #636060;
    
} */
.wap-item-table-feed{
    width: 100%;
    /* border: 1px solid #b80f0f; */
    height: 70%;
}
.table-feed-quang-cao{
    width: 100%;
    height: 32%;
    /* border: 1px solid #b80f0f; */
}
.item-feed .item-feed-left{
    width: 15%;
    height: 100%;
    /* border: 1px solid #ccc; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* justify-content: flex-start; */
    
}
.item-feed .item-feed-left i{
    font-size: 25px;
}
.item-feed-left img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.table-feed-quang-cao{
    display: flex;
}
.table-feed-quang-cao .anh{
    width: 30%;
    height: 100%;
    /* border: 1px solid #b80f0f; */
}
.table-feed-quang-cao .noi-dung-qc{
    width: 60%;
    height: 100%;
    /* border: 1px solid #b80f0f; */
}
.noi-dung-qc .tieu-de{
    width: 100%;
    height: 25%;
    /* border: 1px solid #b80f0f; */
    display: flex;
    align-items: center;
    /* justify-content: center; */
    padding-left: 10px;
    font-size: 14px;
}
.noi-dung-qc .noi-dung{
    width: 100%;
    height: 75%;
    /* border: 1px solid #b80f0f; */
    display: flex;
    flex-wrap: wrap;
    /* align-items: center; */
    /* justify-content: center; */
    padding-left: 10px;
}
.nam-phan-tram{
    width: 100%;
    height: 5%;
    /* border: 1px solid #b80f0f; */
    color: #65676b;
    font-size: 18px;
    font-weight: 600;
    padding-left: 39px;
    padding-top: 14px;
}
.noi-dung p{
    font-size: 18px;
    color: #a59608;
}
.ten-table-feed{
    font-size: 17px;
    font-weight: 550;
    font-family: sans-serif;
    /* padding-left: 10px; */
    color: #050505;
}
h5{
    font-size: 16px;
    font-weight: 500;
    font-family: sans-serif;
   
}
.item-feed .xem-them i{
    height: 34px;
    width: 34px;
    background-color: #e4e6e9;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.item-feed:hover{
    background-color: #e4e6e9;
    cursor: pointer;
}
.bbkn{
    color: #0866ff;
}
.tim{
    color: #b709b4;
}
.item-feed-right{
    width: 85%;
    height: 100%;
    /* border: 1px solid #ccc; */
    display: flex;
    align-items: center;
    /* justify-content: flex-start; */
}
.item-feed{
    width: 100%;
    height: 20%;
    /* border: 1px solid #ccc; */
    display: flex;
    border-radius: 10px;
}
.name-1 p{
    font-size: 20px;
    font-weight: 600;
    font-family: sans-serif;
    padding-left: 10px;
}
.icon-1{
    font-size: 25px;
    padding: 5px;
}
.ban-be,.nhom{
    color: blue;
}
.xem-them-icon{
    background-color: #e0e0e0;
    padding: 5px;
    border-radius: 50%;
}

/* Loi tat */


.loi-tat{
    width: 100%;
    height: 100%;
  
    /* background-color: #636060; */
}
.loi-tat-header,
.loi-tat-footer{
    width: 100%;
    height: 10%;
    /* border: 1px solid #171515; */
}
.loi-tat-footer-dieu-khoan{
    padding-left: 14px;
}
.loi-tat-main{
    width: 100%;
    height: 80%;
    /* border: 1px solid #171515; */
    /* background-color: #636060; */
}
.loi-tat-main-item-img img{
    width: 50;
    height: 50;
    border-radius: 10px;
}
.loi-tat-main-item{
    width: 100%;
    /* height: calc(70% / 5); */
    height: 50px;
     /* border: 1px solid #171515; */
    display: flex;
    margin-bottom: 10px;
}
.loi-tat-main-item-img {
    width: 20%;
    height: 100%;
    /* border: 1px solid #1715; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.an-bot-icon{
    /* width: 50px;
    height: 50px;
    border-radius: 50%; */
}
.loi-tat-main-item-name{
    width: 80%;
    height: 100%;
    /* border: 1px solid rgba(212, 17, 17, 0.333); */
}
.loi-tat-main-item-name{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    
}
.loi-tat-main-item-name p{
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 600;
}
.loi-tat-header{
    display: flex;
    align-items: center;
    padding-left: 22px;
}
.loi-tat-header p{
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 400;
    color: #636060;
}
.loi-tat-footer{
    margin-top: 2px;
}
.loi-tat-main .loi-tat-main-item:hover{
    background-color: #e4e6e9;
    border-radius: 20px;
    cursor: pointer;

}

/* Bảng tin */
.tin{
    width: 100%;
    height: 100%;
    /* border: 1px solid #cb0d0d; */
    margin-top: 20px;
}
.tin .tin-tren{
    width: 100%;
    height: 56%;
    /* border: 1px solid #cb0d0d; */
    display: flex;
    gap: 5px;
}
.tin .tin-duoi{
    width: 100%;
    height: 30%;
    /* border: 1px solid #0ee62b; */
    border-radius: 16px;
    margin-top: 50px;
}
.tin-avatar{

    width: calc(100% / 4);
    height: 290px;
    /* width: calc(100% / 4);
    height: 100%; */
    
    border: 1px solid #191a19;
    border-radius: 10px;
}
.tin-duoi{
    width: 100%;
    height: 100%;
    /* border: 1px solid #090600; */
    /* background-color: #0bf02a; */
}
.tin-avatar-0 .anh{
    width: 100%;
    height: 85%;
    border: 1px solid #090600;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

   
   
}
.tin-avatar-0{
    position: relative;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

}
.tin-avatar-0 .chu{
    width: 100%;
    height: 15%;
    border: 1px solid #090600;
}
.anh img{
    width: 100%;
    height: 100%;
    /* border-radius: 10px; */
}
.tin-avatar-0 .chu{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #636060;
    background-color: #fff;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.icon-tao-tin{
    color: #fff;
    font-size: 18px;
    background-color: #0866ff;  
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    position: absolute;
    /* top: 188px;
    right: 76px; */
    bottom: 12%;
    left: 50%;
    transform: translateX(-50%);
    border: 4px solid white;
    
}
.tin-avatar-1 img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.tin-avatar-1{
    position: relative;
}
.tin-avatar-1 p{
    color: #fff;
    font-family: sans-serif;
    font-weight: 500;
    position: absolute;
    bottom: 0;
    left:50%;
    font-size: 16px;
    transform: translateX(-50%);
}
.image-nho img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 3px solid #0866ff;
    position: absolute;
    top: 2%;
}
.mui-ten-phai{
    position: absolute;
    background-color: #fff;
    width: 40px;
    height: 40px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius:50% ;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
.tin-avatar-1 .mui-ten-phai:hover{
    opacity: 0.8;
}
.tin-duoi{
    margin-top: 5px;
    background-color: #fff;
}
.tin-duoi .tin-duoi-tren{
    width: 100%;
    height: 50%;
    /* border: 1px solid #090600; */
    display: flex;
    align-items: center;
    gap: 10px;
    border-bottom: 1px solid #eeeeee;

}
.tin-duoi-tren .left{
    padding-left: 10px;
}
.tin-duoi-tren .left img{
    width: 44px;
    height: 44px;
    border-radius: 50%;
    
}
.tin-duoi-tren .right input{
   width: 700px;
   height: 40px;
   border-radius: 18px;
   padding-left: 10px;
   font-size: 16px;
   background-color: #f0f2f5;
    border: none;
}

.tin-duoi-tren .left:hover{
    opacity: 0.8;
    cursor: pointer;
    
   
}
.tin-duoi-tren .right input:hover{
   background-color: #e4e6e9;
    cursor: pointer;
}

.tin-tren .tin-avatar:hover{
    opacity: 0.8;
    cursor: pointer;
}
.tin-duoi-duoi{
   
    width: 100%;
    height: 50%;
    /* border: 1px solid #090600; */
    display:flex;
    justify-content: space-around;
    /* padding: 20px 10px; */
}
.tin-duoi-duoi-item{
    width: calc(100% / 3);
    height: 100%;
    /* border: 1px solid #090600; */
    padding: 10px;
}
.tin-duoi-duoi-item{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 20px;
    font-family: sans-serif;
}
.tin-duoi-duoi-item .videoo i{
    color: red;
    font-size: 24px;

}
.tin-duoi-duoi-item .anhh{
    color: green;
    font-size: 24px;
}
.tin-duoi-duoi-item .bieucam{
    color: #dcdc1c;
    font-size: 24px;
}
.tin-duoi-duoi .tin-duoi-duoi-item:hover{
    background-color:#e4e6e9; 
    border-radius: 12px;
    cursor: pointer;
}

/* DANH SACH mess */
.person-contact{
    width: 100%;
    height: 100%;
    /* border: 1px solid #ed2203; */
    padding-left: 80px;
   
}
.person-contact-tren{
    width: 100%;
    height: 50%;
    /* border: 1px solid #ed2203; */
}
.person-contact-duoi{
    width: 100%;
    height: 45%;
    /* border: 1px solid #ed2203; */
}
.person-contact-tren-tren{
    width: 100%;
    height: 60%;
    border-bottom: 1px solid #ccc9c9;
}
.person-contact-tren-duoi{
    width: 100%;
    height: 36%;
    /* border: 1px solid #ed2203; */
    border-bottom: 1px solid #ccc9c9;
}
.loi-moi-kb{
    width: 100%;
    height: 25%;
    /* border: 1px solid #ed2203; */
}
.trang-ca-nhan{
    width: 100%;
    height: 20%;
    /* border: 1px solid #ed2203; */
    display: flex;
    align-items: center;  
    justify-content: space-between;
    padding-left: 7%;
    

}
.item-trang{
    /* display: flex;
    align-items: center;
    justify-content: center; */
    cursor: pointer;
}
.trang-ca-nhan i{
    font-size: 24px;
}
/* .trang-ca-nhan i:hover{
    background-color: #e4e6e9;
    border-radius: 50%;
} */
.loi-moi-ket-ban{
    width: 100%;
    height: 80%;
    /* border: 1px solid #ed2203; */
    padding-left: 7%;
}
.fa-bookmark{
    color: #b709b4;
}
.item-kb{
    width: 100%;
    height: calc(100% / 4);
    /* border: 1px solid #ed2203; */
    display: flex;
}
.item-kb:hover{
    background-color: #e4e6e9;
    border-radius: 10px;
    cursor: pointer;
}
.img-kb{
    width: 15%;
    height: 100%;
    /* border: 1px solid #a1d813; */
    display: flex;
    align-items: center;
    padding-left: 10px;
    /* justify-content: flex-end; */
}
.img-kb img{
    width: 48px;
    height: 44px;
    border-radius: 50%;
}
.img-name{
    width: 85%;
    height: 100%;
    /* border: 1px solid #a1d813; */
    display: flex;
    align-items: center;
}
.img-name p{
    color:#65676b;
    font-size: 17px;
    font-weight: 600;
}
.trang-ca-nhan p,
.loi-moi-kb-right p{
    color: #65676b;
    font-size: 19px;
    font-weight: 600;
}
.loi-moi-kb-left{
    padding-right: 5%;
    color: #0866ff;
    cursor: pointer;
    font-size: 18px;
}
.loi-moi-kb-right{
    padding-left: 8%;
}
.loi-moi-kb{
    display: flex;
    align-items: center;
    justify-content: space-between
}
.person-contact-tren{
    /* border-bottom: 1px solid #ccc9c9; */
}
.person-contact-tren-tren i{
    padding-right: 30px;
}
.item-kb-icon{
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-left: 26px;
}
.nguoi-ket-ban{
    display: flex;
    width: 100%;
    height: 75%;
}
.nguoi-ket-ban-left{
    width: 25%;
    height: 100%;
    /* border: 1px solid #ed2203; */
    display: flex;
    align-items: center;
    justify-content: flex-end;
    /* padding-left: 20px; */
    padding-right: 5%;
}
.nguoi-ket-ban-right{
    width: 75%;
    height: 100%;
    /* border: 1px solid #2bef04; */
    /* display: flex; */
    align-items: center;
    
    /* padding-left: 20px; */
}
.nguoi-ket-ban-left img{
    width: 74px;
    height: 74px;
    border-radius: 50%;
}
.nguoi-ket-ban-right-tren{
    width: 100%;
    height: 35%;
    /* border: 1px solid #ed2203; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nguoi-ket-ban-right-duoi{
    width: 100%;
    height: 65%;
    /* border: 1px solid #ed2203; */
}
.pmy{
    font-size: 18px;
    font-weight: 600;
}
.fa-circle-check{
    color: blue;
}
.gio-kb{
    padding-right: 10%;
    font-size: 16px;
}
.nguoi-ket-ban-right-duoi{
    display: flex;
    align-items: center;
    gap: 36px;
}
.xac-nhan{
    padding-left: 10px;
}
.xac-nhan button{
    padding: 14px 40px;
    color: white;
    background-color: #0866ff;
    font-size: 16px;
    font-weight: 600;
    border-radius: 10px;
    border: none;
}
.xac-nhan button:hover
{
    opacity: 0.8;
    cursor: pointer;
}
.xoa button:hover{
    opacity: 0.6;
    cursor: pointer;
}
.xoa button{
    padding: 14px 60px;
    color: #000;
    font-size: 16px;
    background-color: #e4e6eb;
    border-radius: 10px;
    font-weight: 600;
    border: none;
}
.person-contact-duoi-tren{
    width: 100%;
    height: 10%;
    /* border: 1px solid #7896e2; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.person-contact-duoi-duoi{
    width: 100%;
    height: 90%;
    /* border: 1px solid #7896e2; */
}
.person-contact-duoi-duoi-item{
    width: 100%;
    height: calc(100% / 6);
    /* border: 1px solid #7896e2; */
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.person-contact-duoi-duoi-item:last-child{
    border-bottom: 1px solid #ccc9c9;
}
.person-contact-duoi-duoi-item:hover{
    background-color: #e4e6e9;
    cursor: pointer;
    border-radius: 14px;
}
.image-nlh{
    width: 17%;
    height: 100%;
    /* border: 1px solid #7896e2; */
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
}
.tich-xanh{
    position: absolute;
    color: green;
    bottom: 16%;
    font-size: 12px;
    right: 0;
    /* box-shadow: inset 10px -10px 20px 9px rgba(243, 242, 242, 0.5); */
}
.name-nlh{
    width: 83%;
    height: 100%;
    display: flex;
    align-items: center;
    /* border: 1px solid #7896e2; */
    font-size: large;
}
.image-nlh img{
    width: 46px;
    height: 46px;
    border-radius:50% ;
}
.nguoi-lien-he {
    padding-left: 10%;
}
.nguoi-lien-he p{
 color: #65676b;
    font-size: 18px;
    font-weight: 600;
}
.icon-nguoi-lien-he{
    display: flex;
    align-items: center;
    gap: 30px;
    padding-right: 13%;
   
}
.nguoi-lien-he-icon{
    font-size: 18px;
    color: #65676b;
    width: 30px;
    height: 32px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.nguoi-lien-he-icon:hover{
    background-color: #d4d7dc;
    border-radius: 50%;
    cursor: pointer;
}
/* Bảng tin */
.bang-tin-tren{
    width: 100%;
    height: 19%;
    /* border: 1px solid #ccc; */
}
.bang-tin-duoi{
    width: 100%;
    height: 81%;
    /* border: 1px solid #de3838; */
}
.bang-tin-tren .hinh-anh{
    width: 100%;
    height: 70%;
    /* border: 1px solid #ccc; */
    display: flex;
    padding-top: 5px;
}
.bang-tin-tren .tieu-de-bai-viet{
    width: 100%;
    height: 20%;
    /* border: 1px solid #ccc; */
    display: flex;
    align-items: center;
    padding-left: 4%;
}
.bang-tin-tren .hinh-anh .left{
    width: 10%;
    height: 100%;
    /* border: 1px solid #ccc; */
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.bang-tin-tren .hinh-anh .right{
    width: 90%;
    height: 100%;
    /* border: 1px solid #ccc; */
    padding-top: 17px;
    padding-left: 10px;
}
.bang-tin-tren .hinh-anh .left img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.right .nguoi-dang-bai{
    display: flex;
    justify-content: space-between;
}
.ten-nguoi-dang p{
    font-size: 18px;
    font-weight: 600;
}
.icon-dang{display: flex;
    gap: 18px;
    padding-right: 5%;
}
.icon-dang i{
    font-size: 18px;
}
.time-dang-bai p{
    font-size: 14px;
}
.bang-tin-duoi .anh-bang-tin{
    width: 100%;
    height: 84%;
    border: 1px solid #ccc;
    background-color: #646669;
}
.bang-tin-duoi .bieu-cam{
    width: 100%;
    height: 16%;
    /* border: 1px solid #910707; */
}
.icon-dang .fa-ellipsis{
    font-size: 18px;
    cursor: pointer;
}
.icon-dang .fa-x:hover{
   opacity: 0.5;
   cursor: pointer;
}
.img-bang-tin{
    width: 60%;
    margin: 0 auto;
    height: 100%;
    border: 1px solid #ccc;
}
.img-bang-tin img{
    width: 100%;
    height: 100%;
}
.bieu-cam .luot-like{
    width: 100%;
    height: 50%;
    /* border: 1px solid #ccc; */
    display: flex;
    border-bottom: 1px solid #ccc9c9;
}
.bieu-cam .icon-cam-xuc{
    width: 100%;
    height: 50%;
}
.icon-cam-xuc .like:hover{
background-color:#e4e6e9 ;
cursor: pointer;

}
.table-feed-quang-cao .anh img:hover{
    opacity: 0.7;
    cursor: pointer;
}
.table-feed-quang-cao .noi-dung p{
    cursor: pointer;
}
.luot-like .left {
    width: 50%;
    height: 100%;
    /* border: 1px solid #ccc; */
    display: flex;
    align-items: center;
    
}
.fa-face-grin-squint{
    color: #F5C33B;
}
.fa-thumbs-up{
    color: #0866ff;
}
.luot-like .right{
    width: 50%;
    height: 100%;
    /* border: 1px solid #ccc; */
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 20px;
}
.icon-cam-xuc{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.like,.bluan,.chia-se{
    display: flex;
    gap: 10px;
    align-items: center;
    
}
.icon-cam-xuc-icon{
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
    
}
.icon-cam-xuc-icon:hover{
    background-color: #e4e6e9 ;
    border-radius: 4px;
    cursor: pointer;
}
.like-icon i{
    color: #67696c;
}
.icon-cam-xuc-duoi{
    font-size: 20px;
}
.icon-share{
    color: #a49e9e;
}
.like .like-text,
 .bluan-text,.chia-se .chia-se-text{
   color:#65676b ; 
   font-size: 17px;
   font-weight: 600;
}